<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PeeDeeEff</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="anim.css">
</head>

<body>

    <nav>
        <div class="realnav">
            <ul>
                <li>PeeDeeEff</li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="contmanibox boxes">
            <div class="contmaniheader headers">
                <h1>CONTENT MANIPULATION</h1>
            </div>

            <div class="contmanifooter footers">
                <div class="tile">Extract Text</div>
                <div class="tile">Remove Pages</div>
                <div class="tile">Reorder Pages</div>
            </div>
        </div>

        <div class="enhancement boxes">
            <div class="enhancement headers">
                <h1>ENHANCEMENT TOOLS</h1>
            </div>

            <div class="enhancement footers">
                <div class="tile">Merge PDF</div>
                <div class="tile">Add Watermark</div>
                <div class="tile">Insert Pages</div>
            </div>
        </div>

        <div class="creagen boxes">
            <div class="creagen headers">
                <h1>CREATION AND GENERATION</h1>
            </div>

            <div class="creagen footers">
                <div class="tile">Create PDF</div>
                <div class="tile">HTML to PDF</div>
                <div class="tile">Images to PDF</div>
            </div>
        </div>

    </div>

</body>

</html>