<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PeeDeeEff</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="anim.css">
</head>

<body>
    <nav>
        <div class="realnav">
            <ul>
                <li>PeeDeeEff</li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="contmanibox boxes">
            <div class="contmaniheader headers">
                <h1>CONTENT MANIPULATION</h1>
            </div>

            <div class="contmanifooter footers">
                <a class="tile" href="/extract">Extract Text</a>
                <a class="tile" href="/remove">Remove Pages</a>
                <a class="tile" href="/reorder">Reorder Pages</a>
            </div>
        </div>

        <div class="enhancement boxes">
            <div class="enhancement headers">
                <h1>ENHANCEMENT TOOLS</h1>
            </div>

            <div class="enhancement footers">
                <a class="tile" href="/merge">Merge PDF</a>
                <a class="tile" href="/addwatermark">Add watermark</a>
                <a class="tile" href="/insert">Insert Pages</a>
            </div>
        </div>

        <div class="creagen boxes">
            <div class="creagen headers">
                <h1>CREATION AND GENERATION</h1>
            </div>

            <div class="creagen footers">
                <a class="tile" href="/create">Create PDF</a>
                <a class="tile" href="/htmltopdf">HTML to PDF</a>
                <a class="tile" href="/imagetopdf">Images to PDF</a>
            </div>
        </div>

    </div>

</body>

</html>