<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PeeDeeEff</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="anim.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <nav>
        <div class="realnav">
            <ul>
                <li>PeeDeeEff</li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="welcome">
            <i class="fa-solid fa-file-pdf"></i>
            <div class="welcometext">
                <h1>A One-Stop Tool for all your PDF needs</h1>
                <h3>Multiple tools to cater your needs</h3>

            </div>


        </div>

        <div class="contmanibox boxes">
            <div class="contmaniheader headers">
                <h1>CONTENT MANIPULATION</h1>
            </div>

            <div class="contmanifooter footers">
                <a class="tile" href="/extract">
                    <h2>Extract Text</h2>
                    <h5>Extract text from PDF</h5>
                </a>
                <a class="tile" href="/remove">
                    <h2>Remove Pages</h2>
                    <h5>Remove pages from PDF</h5>
                </a>
                <a class="tile" href="/reorder">
                    <h2>Reorder Pages</h2>
                    <h5>Change the order of Pages in your PDF</h5>
                </a>
            </div>
        </div>

        <div class="enhancement boxes">
            <div class="enhancement headers">
                <h1>ENHANCEMENT TOOLS</h1>
            </div>

            <div class="enhancement footers">
                <a class="tile" href="/merge">
                    <h2>Merge PDF</h2>
                    <h5>Merge the pages of multiple PDF's</h5>
                </a>
                <a class="tile" href="/addwatermark">
                    <h2>Add Watermark</h2>
                    <h5>Add a watermark for your PDF</h5>
                </a>
                <a class="tile" href="/insert">
                    <h2>Insert Pages</h2>
                    <h5>Insert Pages in your PDF</h5>
                </a>
            </div>
        </div>

        <div class="creagen boxes">
            <div class="creagen headers">
                <h1>CREATION AND GENERATION</h1>
            </div>

            <div class="creagen footers">
                <a class="tile" href="/create">
                    <h2>Create PDF</h2>
                    <h5>Create a PDF as per your need</h5>
                </a>
                <a class="tile" href="/htmltopdf">
                    <h2>HTML to PDF</h2>
                    <h5>Convert HTML to PDF</h5>
                </a>
                <a class="tile" href="/imagetopdf">
                    <h2>Images to PDF</h2>
                    <h5>Convert Images to PDF</h5>
                </a>
            </div>
        </div>

    </div>

</body>

</html>